.circle {
    position: relative;
    &__left {
        position: absolute;
        transform: translate(-240px,10px);
    }
    &__right {
        position: absolute;
        display: none;
    }
    img {
        width: 446px;
        height: 446px;
        
    }
}