.header {
    padding-top: 30px;
    &__logo {
        width: 187px;
        height: 44px;
        margin-top: 11px;
    }
    &__divider {
        height: 62px;
        width: 0;
        border: 1px solid rgba(51, 26, 47, 0.5);
        margin-left: 15px;
    }
    &__text {
        font-weight: 400;
        font-size: 10px;
        line-height: 14px;
        margin: 10px 0 0 20px;
        color: rgba(51, 26, 47, 0.9);
    }
    &__menu {
        display: flex;
        margin: 12px 0 0 28px;
        &-item {
            font-weight: 400;
            font-size: 18px;
            line-height: 35px;
            color: #331A2F;
            cursor: pointer;
            &:hover {
                color: #cf51ce;
                transition: all .5s ease;
            }
        }
        &-polygon {
            width: 13px;
            height: 11px;
            margin: 9px 40px 0 12px;
            cursor: pointer;
        }
        &_phone {
            display: none;
            &-img {
                width: 20px;
                height: 19px;
                margin-top: 19px;
                margin-right: 3px;
            }
            &-contacts {
                font-weight: 400;
                font-size: 18px;
                line-height: 35px;
                margin-top: 12px;
                a {
                    text-decoration: none;
                    color: #331A2F;
                    &:hover {
                        color: #fafafa;
                        transition: all .5s ease;
                    }
                }
            }
        }
    }
    &__phone {
        display: flex;
        margin-left: 135px;
        &-img {
            width: 20px;
            height: 19px;
            margin-top: 19px;
            margin-right: 3px;
        }
        &-contacts {
            font-weight: 400;
            font-size: 18px;
            line-height: 35px;
            margin-top: 12px;
            a {
                text-decoration: none;
                color: #331A2F;
                &:hover {
                    color: #cf51ce;
                    transition: all .5s ease;
                }
            }
        }
    }
    &__button {
        display: flex;
        margin: 9px 0 0 92px;
        position: relative;
        &-singin {
            position: absolute;
            width: 20px;
            height: 20px;
            transform: translate(32px, 11px);
        }
        button {
            width: 152px;
            height: 43px;
            background: #CF51CE;
            border-radius: 12px;
            color: #FFFFFF;
            font-weight: 500;
            font-size: 18px;
            line-height: 35px;
            letter-spacing: 0.02em;
            border: none;
            padding-left: 30px;
            cursor: pointer;
            &:hover {
                background: #331a2f;
                transition: all 1s ease;
            }
        }
    }
}

// .hamburger {
//     display: none;
// }
