@media (min-width: 1441px) {
    .container {
        min-width: 1350px;
        &__flex {
            justify-content: unset;
        }
    }
    .circle {
        &__left {
            transform: translate(-220px,0px);
        }
        &__right {
            display: block;
            transform: translate(1195px, 520px);
        }
    }
    .header {
        padding-top: 35px;
        &__logo {
            width: 241px;
            height: 58px;
        }
        &__divider {
            height: 80px;
            margin-left: 19px;
        }
        &__text {
            font-size: 14px;
            line-height: 18px;
            margin: 13px 0 0 25px;
        }
        &__menu {
            margin: 22px 0 0 31px;
            &-item {
                font-size: 24px;
                line-height: 35px;
            }
        }
        &__phone {
            margin: 10px 0 0 83px;
            &-img {
                width: 24px;
                height: 24px;
                margin-top: 17px;
                margin-right: 5px;
            }
            &-contacts {
                font-size: 24px;
                line-height: 35px;
            }
        }
        &__button {
            margin: 18px 0 0 75px;
            &-singin {
                width: 23px;
                height: 23px;
            }
            button {
                width: 169px;
                height: 45px;
                font-size: 23px;
                line-height: 35px;
            }
        }
    }
    .promotion {
        &__wrapper {
            grid-template-columns: 770px 550px;
            column-gap: 30px;
        }
        &__info {
            grid-template-rows: 160px 55px 425px;
            row-gap: 20px;
        }
        &__title {
            font-size: 52px;
            line-height: 80px;
        }
        &__text {
            font-size: 25px;
            line-height: 40px;
        }
        &__picture {
            width: 550px;
            height: 550px;
        }
    }
    .history {
        padding-top: 137px;
        .container {
            &__small {
                min-width: 1150px;
            }
        }
        &__title {
            font-size: 48px;
        }
        &__wrapper {
            grid-template-rows: repeat(2,475px);
        }
        &__shop {
            grid-template-columns: 400px 670px;
            &-img {
                width: 400px;
                height: 400px;
            }
        }
        &__experience {
            grid-template-columns: 670px 400px;
            &-img {
                width: 400px;
                height: 400px;
            }
        }
        &__descr {
            font-size: 25px;
            line-height: 40px;
        }
    }
    .education {
        margin-bottom: 131px;
        &__title {
            font-size: 48px;
        }
        &__divider {
            width: 261px;
            height: 7px;
            transform: translate(753px,-5px);
        }
        &__subtitle {
            font-size: 25px;
            line-height: 40px;
        }
        &__item {
            width: 290px;
            min-height: 368px;
            &-img {
                width: 110px;
                height: 110px;
            }
            &-title {
                font-size: 24px;
                line-height: 36px;
                margin-bottom: 15px;
            }
            &-descr {
                font-size: 18px;
                line-height: 29px;
            }
        }
    }
}
@media (max-width: 1200px){
    .container {
        max-width: 960px;
    }
    .header {
        position: relative;
        &__logo {
            margin-left: 10px;
        }
        &__divider {
            margin-left: 10px;
        }
        &__text {
            margin: 10px 0 0 10px;
        }
        &__menu {
            position: fixed;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            top: 0;
            left: -100%;
            width: 30%;
            height: 100vh;
            padding: 20px 15px;
            background-color: rgba(207,81,206,.7);
            transition: 0.6s all;
            margin: unset;
            z-index: 2;
            &-item {
                &:hover {
                    color: #FAFAFA;
                    transition: all .5s ease;
                }
            }
            &_active {
                left: 0;
            }
            &-polygon {
                display: none;
            }
        }
        &__phone {
            margin-left: 50px;
        }
        &__button {
            margin: 9px 65px 0 43px;
        }
    }
    .hamburger {
        display: flex;
        flex-direction: column;
        align-items: self-end;
        position: absolute;
        right: 16px;
        transform: translate(-5%, 70%);
        width: 42px;
        height: 28px;
        span {
            display: block;
            height: 4px;
            width: 42px;
            margin-bottom: 5px;
            transition: .5s all;
            background: #CF51CE;
            border-radius: 4px;
            &:nth-child(3) {
                width: 32px;
                margin-left: auto;
            }
        }
        &_active {
            span {
                margin-bottom: -2px;
                &:nth-child(1) {
					transform: translateY(5px) rotate(-45deg)
                }
				&:nth-child(2) {
					display: none
                }
				&:nth-child(3) {
					transform: translateY(3px) rotate(45deg);
                    width: 42px;
                }
            }
        }
    }
    .bread {
        &__breadcrumb {
            margin-left: 20px;
        }
    }

    .promotion {
        &__wrapper {
            grid-template-columns: 545px 395px;
            margin: 0 10px;
            column-gap: unset;
        }
        &__info {
            grid-template-rows: 140px 55px 350px;
            row-gap: 30px;
        }
        &__title {
            font-size: 37px;
        }
        &__picture {
            width: 410px;
            height: 410px;
        }
    }


    .history {
        &__shop {
            grid-template-columns: 320px 500px;
            margin: 0 20px;
            &-img {
                width: 320px;
                height: 330px;
            }
        }
        &__experience {
            grid-template-columns: 500px 320px;
            margin: 0 20px;
            &-img {
                width: 320px;
                height: 320px;
            }
        }
    }
    .education {
        &__divider {
            transform: translate(545px,-5px);
        }
        &__wrapper {
            flex-wrap: wrap;
        }
    }
}

@media (max-width: 991px){
    .container {
        max-width: 737px;
        &__flex {
            justify-content: unset;
        }
    }
    .header {
        &__logo {
            width: 150px;
            height: 43px;
        }
        &__divider {
            margin-left: 10px;
            border: 0.777096px solid rgba(51, 26, 47, 0.5);
        }
        &__text {
            font-size: 10px;
            margin: 10px 0 0 10px;
        }
        &__phone {
            margin-left: 26px;
            &-img {
                width: 17px;
                height: 15px;
                margin-top: 20px;
            }
            &-contacts {
                font-size: 14px;
            }
        }
        &__button {
            margin: 9px 55px 0 55px;
            button {
                font-size: 20px;
            }
        }
    }
    .bread {
        margin-top: 46px;
        &__breadcrumb {
            margin-left: 15px;
        }
    }
    .promotion {
        overflow: hidden;
        &__wrapper {
            margin: 20px 19px 0 0;
            grid-template-columns: 482px 252px;
            position: relative;
        }
        &__info {
            grid-template-rows: 55px 446px;
            row-gap: 17px;
        }
        &__title {
            display: none;
            &_768 {
                display: block;
                font-size: 46px;
            }
        }
        &__picture {
            position: absolute;
            left: 527px;
        }
    }
    .history {
        padding-top: 65px;
        &__wrapper {
            padding-top: 80px;
        }
        &__shop {
            grid-template-columns: 270px 428px;
            margin: 0 15px;
            &-img {
                width: 270px;
                height: 278px;
            }
        }
        &__experience {
            grid-template-columns: 428px 270px;
            margin: 0 15px;
            &-img {
                width: 270px;
                height: 270px;
                margin-top: 17px;
            }
        }
        &__descr {
            margin: unset;
            font-size: 18px;
            &_shop {
                margin: 11px 0 71px 40px;
            }
            &_experience {
                margin-right: 40px;
            }
        }
    }
}

@media (max-width: 767px){
    .container {
        max-width: 555px;
    }
    .circle {
        display: none;
    }
    .header {
        &__menu {
            width: 40%;
            &_phone {
                display: flex;
            }
        }
        &__phone {
            display: none;
        }
        &__button {
            margin: 9px 64px 0 25px;
        }
    }
    .bread {
        &__breadcrumb {
            margin-left: 10px;
        }
    }
    .promotion {
        &__title {
            &_768 {
                font-size: 36px;
                line-height: 50px;
                margin: 0 30px 0 10px;
            }
        }
        &__wrapper {
            margin: 20px 19px 0 10px;
            grid-template-columns: 420px;
        }
        &__picture {
            width: 310px;
            height: 310px;
            left: 370px;
            top: -140px;
        }
    }
    .history {
        &__title {
            font-size: 34px;
            line-height: 55px;
        }
        &__wrapper {
            grid-template-rows: 278px 330px;
            row-gap: 15px;
        }
        &__shop {
            grid-template-columns: 175px 360px;
            margin: 0 10px;
            &-img {
                width: 175px;
                height: 175px;
            }
        }
        &__experience {
            grid-template-columns: 360px 175px;
            margin: 0 10px;
            &-img {
                width: 175px;
                height: 175px;
            }
        }
        &__descr {
            font-size: 16px;
            &_shop {
                margin: unset;
                margin-left: 40px;
            }
        }
    }
}


@media (max-width: 575px) {
    .container {
        max-width: 330px;
    }
    .header {
        &__logo {
            width: 140px;
            transform: translate(-5px, -3px);
        }
        &__divider, &__text {
            display: none;
        }
        &__menu {
            width: 47%;
            &-item {
                font-size: 15px;
            }
            &_phone {
                &-contacts {
                    font-size: 14px;
                }
            }
        }
        &__button {
            margin: 9px 64px 0 25px;
            &-singin {
                width: 13px;
                height: 13px;
                transform: translate(25px,9px);
            }
            button {
                width: 103px;
                height: 36px;
                border-radius: 6px;
                font-size: 14px;
                line-height: 28px;
            }
        }
    }
    .bread {
        margin-top: 40px;
        &__breadcrumb {
            margin-left: 5px;
        }
    }
    .promotion {
        padding-top: 45px;
        &__title {
            &_768 {
                font-size: 26px;
                line-height: 39px;
                margin: 0px 101px 0 0px;
            }
        }
        &__wrapper {
            margin: 25px 0 0 0;
            grid-template-columns: 330px;
        }
        &__info {
            grid-template-rows: 55px 470px;
        }
        &__text {
            font-size: 18px;
            line-height: 29px;
            &_item {
                margin-bottom: 10px;
            }
        }
        &__picture {
            width: 245px;
            height: 245px;
            left: 210px;
            top: -227px;
        }
    }
    .history {
        padding-top: 85px;
        &__title {
            font-size: 22px;
            line-height: 36px;
        }
        &__wrapper {
            padding-top: 50px;
            grid-template-rows: 570px 630px;
            grid-template-columns: repeat(2, 330px);
            row-gap: 40px;
        }
        &__shop {
            grid-template-columns: unset;
            grid-template-rows: 278px 261px;
            row-gap: 30px;
            grid-row: 1/2;
            &-img {
                width: 270px;
                height: 278px;
                margin: 0 auto;
            }
        }
        &__experience {
            grid-template-columns: unset;
            grid-template-rows: 270px 330px;
            row-gap: 30px;
            grid-row: 2/3;
            &-img {
                grid-column: unset;
                grid-row: 1/2;
                width: 270px;
                height: 270px;
                margin: 0 auto;
            }
        }
        &__descr {
            font-size: 16px;
            line-height: 29px;
            &_shop {
                margin-left: unset;
                align-items: center;
            }
            &_experience {
                grid-row: 2/3;
                margin-right: unset;
            }
        }
    }
}